@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

@font-face {
  font-family: "myFirstFont";
  src: url("../fonts/handFont.ttf") format("truetype"),
    url("../fonts/handFont.otf") format("opentype");
}

#intro {
  text-align: left;
  width: 60%;
  padding-left: 50px;
  padding-top: 50px;
  text-decoration: none;
  font-size: 24px;
  color: black;
  display: block;
  font-family: "myFirstFont";
  line-height: 35px;
}

body {
  cursor: url("../images/assets/cursor.png"), auto;
}

a {
  text-decoration: none;
}
